@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

:root {
    --bg-color: #000000;
    --title-color: #db0000;
    --text-color: #ffffff;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topinfo {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.topinfo h1 {
    color: var(--title-color);
    margin-left: 15px;
}

.middleinfo {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.middleinfo .profiles {
    width: 100%;
    height: 185px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.profiles .pessoal .removeprofile {
    position: absolute;
    width: 150px;
    height: 185px;
    display: flex;
    justify-content: end;
    display: none;
}

.profiles.edit .pessoal .removeprofile {
    display: flex;
    justify-content: end;
}

.profiles .pessoal .removeprofile:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.profiles .pessoal .removeprofile i{
    font-size: 30px;
    color: var(--text-color);
    transition: all 0.15s ease;
}

.profiles .pessoal .removeprofile i:hover{
    font-size: 32px;
}


.middleinfo button {
    outline: none;
    background: none;
    border: none;
    border: solid 2px white;
    padding: 10px 50px;
    margin-top: 50px;
}

.middleinfo button span {
    color: var(--text-color);
    font-weight: 300;
    font-size: 15px;
}

.middleinfo h1 {
    font-size: 40px;
}

.pessoal{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pessoal.profilecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 200;
    color: gray;
    text-decoration: none;
}

.profilecontainer .profile {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    transition: all .25s ease;
}


.profilecontainer .profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profilecontainer .profile-name {
    margin-top: 10px;
    font-weight: 300;
    width: 100%;
    text-decoration: none;
    text-align: center;
    color: var(--text-color);
}

.profilecontainer a,
.profilecontainer a:visited{
    text-decoration: none;
}


.profile:hover {
    width: 155px;
    height: 155px;
}

.profile:active {
    width: 145px;
    height: 145px;
}

.profile.kids {
    background: linear-gradient(45deg, rgba(255,0,214,1) 0%, rgba(57,8,104,1) 27%, rgba(66,9,113,1) 28%, rgba(75,9,121,1) 35%, rgba(0,17,255,1) 75%, rgba(12,5,145,1) 82%, rgba(5,120,145,1) 83%, rgba(12,255,0,1) 100%);
    font-weight: 700;
    font-size: 40px;
}

.profile.kids p {
    color: yellow;
    font-weight: 700;
    font-size: 40px;
}

.add-profile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-profile i {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: var(--text-color);
    transition: all .25s ease;
}

.add-profile i:hover {
    font-size: 55px;
    color: gray;
}

.middleinfo h1 {
    color: var(--text-color);
    font-weight: 300;
}

.bottominfo {
    display: flex;
    width: 100%;
    height: 30px;
    display: flex;
    font-weight: 200;
    justify-content: end;
}

.bottominfo p {
    color: var(--text-color);
    text-decoration: underline gray solid;
    margin-right: 20px;
    font-size: 10px;
}