{% extends "Base.html" %}
{% load static %}

{% block title %} Mayflix - {{ media.title }} {% endblock %} 

{% block content %}
    {% include 'Navbar.html' %}
    {% if media.series or media.tv %}
        <iframe  width="100%" height="100%" src="https://embed.warezcdn.com/serie/tt{{ media.imdb_id }}" scrolling="no" frameborder="0" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen=""></iframe>
    {% else %}
        <iframe  width="100%" height="100%" src="https://embed.warezcdn.com/filme/tt{{ media.imdb_id }}" scrolling="no" frameborder="0" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen=""></iframe>
    {% endif %}
{% endblock %}